* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url('images/LANDING.svg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.hacker-image {
    width: 580px;
    position: absolute;
    bottom: 0;
    right: 120px;
}

.name-image {
    width: 580px;
    position: absolute;
    bottom: 0;
    right: 120px;
    scale: 0.6;
}

.top {
    padding-top: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    user-select: none;
}

.a1 {
    width: fit-content;
    height: fit-content;
    margin: 20px;
    cursor: pointer;
}

.left {
    display: flex;
    padding-left: 40px;
    align-items: center;
}

.right {
    padding-top: 20px;
    position: absolute;
    right: 50px;
    top: 7px;
    cursor: pointer;
}

.content {
    width: 610px;
    height: 340px;
    scale: 0.8;
    color: white;
    position: absolute;
    top: 130px;
    left: 70px;
    line-height: 1.1;
    font-weight: 400;
    user-select: none;
}

#P1 {
    font-size: 45px;
    font-weight: 700;
}

#P2 {
    font-size: 76px;
    font-weight: 400;
}

#P3 {
    font-size: 104px;
    font-weight: 600;
}

#P4,
#P5 {
    font-size: 36px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    border: 1px solid #FFE68C;
    background-color: transparent;
    color: white;
    border-radius: 25px;
    position: absolute;
    left: 140px;
    bottom: 125px;
    cursor: pointer;
    user-select: none;
}

.btn:hover, .btn a:hover {
    background-color: #FFE68C;
    color: black;
    user-select: none;
}